.form{
    // display: flex;
    background-color: wheat;
    // width: 40%;
    height: 600px;
    margin-top: 2rem;
    padding: 14px;
    // height: 1100px;
    display: flex;
    
    // margin: 0 auto;
    // padding: 10px;
    // min-height: max-content;
}